<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/formeval}" method="post">
        <h1 th:text="${v1}"></h1>
        <label for="av" th:text="#{eingabe}" />
        <!-- Kommentar -->
        <input type="text" id="av" name="variable1" autofocus="autofocus" th:value="${v1}"/>
        <input id="submit" type="submit" value="HALLO" />
    </form>
    <span th:text="#{test}"/>
    <a th:href="@{/logout}">Logout</a>
</body>
</html>